<app-header></app-header>
<div class="container">
  <div class="well well-sm custom-well-small">
    <div class="row ">
      <div class="col-sm-4 ">
        Zone: 
        <select class="selectpicker" [(ngModel)]="selectedZone">
            <option *ngFor="let zone of user.getZoneList(); let i = index" value={{zone.id}}>
              {{zone.name}}
            </option>
          </select>
      </div>
      <div class="col-sm-4">
        Kendra:
        <select class="selectpicker" [(ngModel)]="selectedKendra">
          <option *ngFor="let userAccess of user.getKendraList(); let i = index" value={{userAccess.id}}>
            {{userAccess.name}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" (click)="getInventory()">Show Inventory</button>
      </div>
    </div>
  </div>

  <div *ngIf="inventoryService.isInventoryDataAvailable">
    <table class="table table-striped table-bordered table-responsive" >
      <thead>
        <tr>
          <th>Equipment-Name</th>
          <th>Serial-Model-#</th>
          <th>inUse</th>
          <th>Purchased on</th>
          <th>Used since</th>
          <th>Stored at</th>
          <th>Kendar</th>
          <th>Comment</th>
          <th>contact1 Name</th>
          <th>contact1 phone#</th>
          <th>contact1 Email</th>
          <th>contact2 Name</th>
          <th>contact2 phone#</th>
          <th>contact2 Email</th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let equipmentInfo of inventoryService.getInventoryInfo(); let i=index">
          <td>{{equipmentInfo.inventory.name}}</td>
          <td>{{equipmentInfo.inventory.serialModelNumber}}</td>
          <td>{{equipmentInfo.inventory.inUse}}</td>
          <td>{{equipmentInfo.inventory.purchasedOn}}</td>
          <td>{{equipmentInfo.inventory.usedSince}}</td>
          <td>{{equipmentInfo.inventory.storedAt}}</td>
          <td>{{equipmentInfo.kendraInfo.name}}</td>
          <td>{{equipmentInfo.inventory.comment}}</td>
          <td>{{equipmentInfo.inventory.contact1_name}}</td>
          <td>{{equipmentInfo.inventory.contact1_phone}}</td>
          <td>{{equipmentInfo.inventory.contact1_email}}</td>
          <td>{{equipmentInfo.inventory.contact2_name}}</td>
          <td>{{equipmentInfo.inventory.contact2_phone}}</td>
          <td>{{equipmentInfo.inventory.contact2_email}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>